*{
	padding: 0px;
	margin: 0px;
}

.all_content{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
#ul_main{
	position: relative;
}
#ul_main li{
	list-style-type: none;
	float: left;
	position: relative;
}
#ul_main .div_eachScreen{
}
#ul_main li:nth-child(1){
	background: url("images/QixiA.png");
}
#ul_main li:nth-child(2){
	background: url("images/QixiB-bright.png");
}
#ul_main li:nth-child(3){
	background: url("images/QixiC.png");
}

/*测试*/
.test_button{
	position: absolute;
	left: 0px;
	top:0px;
}
